@model cheques.Context.TB_Conceptos

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generar nuevo conceptop</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Conceptos</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
         
            @Html.RadioButtonFor(model => model.Estado, true, new { @checked = "checked", @class = "form-check-input" })
            @Html.LabelFor(model => model.Estado, "Activo", htmlAttributes: new { @class = "form-label" })

            @Html.RadioButtonFor(model => model.Estado, false, new { @class = "form-check-input" })
            @Html.LabelFor(model => model.Estado, "Inactivo", htmlAttributes: new { @class = "form-label" })
        </div>
        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
        <div>
            @Html.ActionLink("Ir atras", "Index")
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
