@model IEnumerable<cheques.Context.TB_Conceptos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Conceptos cheque</h2>

<p>
    @Html.ActionLink("Ingresar nuevo concepto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @if (item.Estado)
            {
                <span>Activo</span>
            }
            else
            {
                <span>Inactivo</span>
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_Identificador }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_Identificador }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_Identificador })
        </td>
    </tr>
}

</table>
